{% extends 'base/base.html' %}

{% block content %}
  <div class="container">
    <h1>Отзывы</h1>
    {% if user.is_authenticated %}
      <a href="{% url 'reviews:review_create' %}" class="btn btn-primary mb-3">Добавить отзыв</a>
    {% endif %}
    {% for review in reviews %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ review.title }}</h5>
          <p class="card-text">{{ review.content }}</p>
          <p class="card-text">Автор: {{ review.user }}</p>
          <p class="card-text">Дата публикации: {{ review.created_at }}</p>
          {% if user.is_authenticated and user == review.user %}
            <div class="float-end">
              <a href="{% url 'reviews:review_edit' review.id %}" class="btn btn-sm btn-secondary me-1">Редактировать</a>
              <button class="btn btn-sm btn-danger delete-review-btn" data-review-id="{{ review.id }}">Удалить</button>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    $(document).ready(function() {
      $('.delete-review-btn').click(function() {
        var reviewId = $(this).data('review-id');
        $.ajax({
          url: "{% url 'reviews:review_delete' %}",
          type: "POST",
          data: {
            'review_id': reviewId,
            'csrfmiddlewaretoken': "{{ csrf_token }}"
          },
          success: function(response) {
            if (response.success) {
              // Успешное удаление отзыва
              location.reload()
            } else {
              // Ошибка удаления отзыва
              console.log(response.error);
            }
          },
          error: function(xhr, status, error) {
            // Обработка ошибки AJAX
            console.log(error);
          }
        });
      });
    });
  </script>
{% endblock %}
